.view-all--stocks {
	width: 100%;
	background: #FB0000;
	padding: 14px;
	color: #ffffff;
	text-align: center;
	font-weight: 600;
	display: flex;
	align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    
}